<div class="atfContainer">

    <div class="image-wrapper">
        <img class="colorAccent" src="./../../../assets/img/atfShadow.png">
        <div class="profileImage" data-aos="fade-up">
            <img class="profile" src="./../../../assets/img/file.png">
        </div>
    </div>

    <div class="profileInfoContainer" data-aos="fade-left">
        <div class="profileInfo">
            <div class="vertical">
                I am
            </div>
            <div class="nameAndJobTitle">
                <span class="name">Vitali Rudi</span>
                <span class="jobTitle">Frontend Developer</span>
            </div>
        </div>
        <div class="contactButton" (click)="navigateToContact()">
            Let's Talk!
        </div>
    </div>

    <img class="shape" src="./../../../assets/img/shape.png">

    <div class="contactInfo">
        <div class="seperator"></div>
        <img src="./../../../../assets/img/icons/gitHub.svg" alt=""
            (click)="navigateToUrl('https://github.com/Vitali21MBC')">
        <a href="mailto:info@vitali-rudi-dev.de"><img src="./../../../../assets/img/icons/mail.svg" alt=""></a>
        <img src="./../../../../assets/img/icons/linkedIn.svg" alt=""
            (click)="navigateToUrl('https://www.linkedin.com/in/vitali-rudi-a6854a316/')">
        <a class="mailAdress" (click)="navigateToContact()">info&#64;vitali-rudi-dev.de</a>
        <div class="seperatorPlaceholder"></div>
    </div>

    <img class="scrolldown" src="./../../../assets/img/icons/scrollDown.png" alt="scrolldown"
        (click)="navigateToAboutMe()">

</div>