<div class="atfContainer">

    <div class="image-wrapper">
        <img class="shadow" src="./../../../assets/img/atfShadow.png">
        <div class="profileImage" data-aos="fade-up">
            <!-- <img class="profile" src="./../../../assets/img/file (1).png"> -->
            <img class="profile" src="./../../../assets/img/file.png">
        </div>
    </div>

    <div class="profileInfoContainer" data-aos="fade-left">
        <div class="profileInfo">
            <div class="vertical">
                I am
            </div>
            <div class="nameAndJobTitle">
                <span class="name">Vitali Rudi</span>
                <span class="jobTitle">Frontend Developer</span>
            </div>
        </div>
        <div class="contactButton">
            Let's Talk!
        </div>
    </div>

    <img class="shape" src="./../../../assets/img/shape.png">

    <div class="contactInfo">
        <div class="seperator"></div>
        <img src="./../../../../assets/img/icons/gitHub.svg" alt="">
        <img src="./../../../../assets/img/icons/mail.svg" alt="">
        <img src="./../../../../assets/img/icons/linkedIn.svg" alt="">
        <a href="mailto:#">info&#64;vitali-rudi.de</a>
    </div>

    <img class="scrolldown" src="./../../../assets/img/icons/scrollDown.png" alt="scrolldown">

</div>