<div class="projectContainer">
    <div class="projectWrapper">
        <div class=projectImg data-aos="flip-up">
            <img src="./../../../../assets/img/projectJoin.png" alt="">
        </div>
        <div class="projectDescription" data-aos="fade-right">
            <h2>Join</h2>
            <h3>JavaScript | HTML | CSS</h3>
            <span>{{"join_description" | translate}}</span>
            <div class="projectButtons">
                <div class="liveTestButton" (click)="navigateToUrl('https://join.vitali-rudi-dev.de/')">
                    Live test
                </div>
                <div class="githubButton" (click)="navigateToUrl('https://github.com/Vitali21MBC/Join')">
                    Github
                </div>
            </div>
        </div>
    </div>
</div>