<div class="portfolioContainer">
    <div class="portfolioHeader">
        <div class="headLine">
            <div class="leftSeperatorContainer">
                <div class="leftSeperator"></div>
            </div>
            <h1>Portfolio</h1>
            <div class="rightSeperator"></div>
        </div>

        <div class="subHeadline">
            <p>Explore a selection of my work - Feel free to interact with them to get insights of my skills.
            </p>
        </div>
    </div>
</div>