<div class="portfolioContainer">
    <div class="portfolioHeader" data-aos="fade-left">
        <div class="headLine">
            <div class="leftSeperatorContainer">
                <div class="leftSeperator"></div>
            </div>
            <h1>Portfolio</h1>
            <div class="rightSeperator"></div>
        </div>
        <div class="subHeadline">
            <p>{{"portfolio_text" | translate}}</p>
        </div>
    </div>
    <img class="projectsShadow" src="./../../../assets/img/projectsShadow.png">
    <div class="portfolioProjects">
        <app-each-project></app-each-project>
        <app-each-project-mirrored></app-each-project-mirrored>
    </div>
    <img class="colorShadow" src="./../../../assets/img/mySkillsShadow.png">
</div>