.portfolioContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    scroll-padding-top: 240px;
}

.portfolioHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.headLine {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 42px;
    color: white;
    margin-top: 40px;


    // Den h1habe ich auch schon in der ATF Section. Eventuell auslagern auf höhere Ebene und wiederverwenden.
    h1 {
        font-size: 90px;
        line-height: 108px;
        font-weight: 700;
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
    }
}

.leftSeperator,
.rightSeperator {
    height: 4px;
    background-color: var(--purple);
}


.rightSeperator {
    flex: 1;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

}

.leftSeperatorContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.leftSeperator {
    height: 4px;
    width: 109px;
    border-radius: 12px;
}

.subHeadline {
    p {
        font-size: 16px;
        color: white;
    }
}

.portfolioProjects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 160px;
}

.colorShadow {
    position: absolute;
    bottom: -200px;
    right: -600px;
    transform: rotate(90deg);
}

.projectsShadow {
    position: absolute;
    top: 50%;
    left: -80px;
    transform: translatey(-50%);
}