.mySkillsContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    padding-left: 100px;
    gap: 42px;
    width: 100%;
    max-width: 1920px;
}

.mySkillsHeader {
    display: flex;
    align-items: center;
    gap: 42px;
}

.skillSetContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 721px;
    column-gap: 123px;
    row-gap: 54px;
    z-index: 10;
    transition: 0.100s ease-out;
}

.skillSet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 88px;
    height: 100px;
    gap: 10px;

    &:hover {
        img {
            transform: translateY(-20px);
        }
    }

    img {
        height: 60px;
        width: auto;
        transition: 0.100s ease-in-out;
    }

    span {
        color: white;
    }
}

.descriptionWrapper {
    display: flex;
    align-items: center;
    gap: 42px;
}

.skillsDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 571px;
    text-align: right;
    color: white;

    h1 {
        font-size: 90px;
        line-height: 108px;
        font-weight: 700;
        margin-block-start: 0em;
        margin-block-end: 0.2em;
    }

    p {
        font-size: 16px;
        line-height: 19px;
        padding-right: 100px;
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
}

.contactButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 15px 30px;
    background-color: var(--green);
    border-radius: 10px;
    font-size: 23px;
    line-height: 28px;
    margin-top: 40px;
    transition: 0.100s ease-out;
    margin-left: 100px;

    &:hover {
        cursor: pointer;
        padding: 20px 40px 20px 40px;
        background-color: var(--purple);
        transform: scale(1.1);
    }
}

.seperator {
    height: 4px;
    min-width: 58px;
    background-color: var(--purple);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.colorAccent {
    position: absolute;
    bottom: -460px;
    left: -580px;
    transform: scaleY(-1);
}


@media (max-width: 1420px) {
    .skillSetContainer {
        column-gap: 80px;
        max-width: 600px;
    }
}

@media (max-width: 1290px) {
    .skillSetContainer {
        column-gap: 60px;
        max-width: 400px;
    }
}

@media (max-width: 1130px) {
    .mySkillsContainer {
        flex-direction: column-reverse;
        justify-content: flex-end;
        gap: 100px;
        padding-left: 0;
        padding-top: 80px;
        height: 880px;
    }

    .skillsDescription {
        p {
            padding-right: 0;
        }
    }

    .descriptionWrapper {
        width: 100%;
    }

    .skillSetContainer {
        max-width: 680px;
        justify-content: center;
    }

    .skillsDescription {
        width: 100%;
        max-width: none;
        align-items: center;
    }

    .mySkillsHeader {
        width: 100%
    }

    .buttonContainer {
        position: absolute;
        bottom: -530px;
        left: 100px;
        right: 100px;
        width: auto;
    }

    .contactButton {
        margin-top: 20px;
        margin-left: 0px;
    }

    .seperator {
        flex: 1;
    }

    .seperatorPlaceholder {
        flex: 1;
    }
}

@media (max-width: 830px) {
    .skillsDescription {
        p {
            padding-left: 25px;
            padding-right: 25px;
            text-align: left;
        }
    }

    .colorAccent {
        left: -640px;
    }
}

@media (max-width: 740px) {
    .skillSetContainer {
        max-width: 540px;
    }

    .mySkillsContainer {
        height: 980px;
    }

    .buttonContainer {
        bottom: -680px;
    }

    .colorAccent {
        left: -700px;
    }
}

@media (max-width: 690px) {
    .buttonContainer {
        left: 25px;
        right: 25px;
    }
}

@media (max-width: 560px) {
    .skillsDescription {
        gap: 16px;

        p {
            text-align: right;
        }

        h1 {
            font-size: 45px;
            line-height: 54px;
        }
    }

    .mySkillsContainer {
        height: 820px;
        gap: 24px;
    }

    .mySkillsHeader {
        gap: 5px;
    }

    .seperator {
        flex: none;
        min-width: 20px;
    }

    .skillSetContainer {
        row-gap: 32px;
        column-gap: 40px;
    }

    .skillSet {
        gap: 6px;

        img {
            height: 45px;
        }
    }

    .buttonContainer {
        bottom: -540px;
    }
}

@media screen and (max-width: 520px) {
    .contactButton {
        font-size: 16px;
        line-height: 19px;
    }
}

@media (max-width: 510px) {
    .skillSetContainer {
        row-gap: 22px;
        column-gap: 28px;
    }
}

@media (max-width: 445px) {
    .skillSetContainer {
        row-gap: 22px;
        column-gap: 28px;
    }

    .buttonContainer {
        bottom: -610px;
    }

    .mySkillsContainer {
        height: 900px;
    }
}

@media (max-width: 330px) {
    .skillSetContainer {
        row-gap: 20px;
        column-gap: 20px;
    }
}