<div class="mySkillsContainer">
    <div class="skillSetContainer" data-aos="fade-right">
        <div class="skillSet" *ngFor="let item of skills; index as i;">
            <img src={{item.url}} alt={{item.title}}>
            <span>{{item.title}}</span>
        </div>
    </div>
    <div class="descriptionWrapper" data-aos="fade-left">
        <div class="skillsDescription">
            <div class="mySkillsHeader">
                <div class="seperatorPlaceholder"></div>
                <h1>{{"my_skills_headline" | translate}}</h1>
                <div class="seperator"></div>
            </div>
            <p>{{"my_skills_text" | translate}}</p>
            <div class="buttonContainer">
                <div class="contactButton" (click)="navigateToContact()">
                    {{"my_skills_button" | translate}}
                </div>
            </div>
        </div>
    </div>
    <img class="colorAccent" src="./../../../assets/img/mySkillsShadow.png">
</div>