<div class="aboutMeContainer">
    <img class="colorAccent" src="./../../../assets/img/aboutMeShadow.png">
    <div class="aboutMeInfoWrapper" data-aos="fade-right">
        <h1>{{"about_me" | translate}}</h1>
        <p>{{"about_me_text1" | translate}}</p>
        <div class="moreAboutMe">
            <div class="moreAboutMeText">
                <img src="./../../../assets/img/icons/lamp.png">
                <p>{{"about_me_text2" | translate}}</p>
            </div>
            <div class="moreAboutMeText">
                <img src="./../../../assets/img/icons/puzzle.png">
                <p>{{"about_me_text3" | translate}}</p>
            </div>
        </div>
    </div>
    <div class="profileImageContainer" data-aos="fade-left">
        <div class="profileImage">
        </div>
        <div class="seperator">
        </div>
    </div>
</div>