<div class="aboutMeContainer">
    <img class="colorAccent" src="./../../../assets/img/aboutMeShadow.png">

    <div class="aboutMeInfoWrapper" data-aos="fade-right">
        <h1>About me</h1>
        <p>Hi, I am a frontend developer based in Cloppenburg, Germany. My background in International Business
            Engineering and experience in technical purchasing and product management have given me a broad perspective.
            However, my true passion has always been programming. After realizing how much I enjoy developing, I
            dedicated myself entirely to frontend development. This combination of diverse experience and
            technical passion shapes my work today.</p>
        <div class="moreAboutMe">
            <div class="moreAboutMeText">
                <img src="./../../../assets/img/icons/lamp.png">
                <p>I am passionate about creating complex web applications that are not only functional, but also
                    provide an intuitive user experience and make the most of the latest technologies.</p>
            </div>
            <div class="moreAboutMeText">
                <img src="./../../../assets/img/icons/puzzle.png">
                <p>Pushing myself to take on new challenges gives me the drive to learn more and become more
                    knowledgeable.</p>
            </div>

        </div>
    </div>

    <div class="profileImageContainer" data-aos="fade-left">
        <div class="profileImage">

        </div>
        <div class="seperator">

        </div>

    </div>

</div>