footer {
    height: 291px;
    background-color: var(--darkBlueBG);
    border-top: 4px solid var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 100px 25px 100px;
    font-family: 'Poppins';
    width: 100%;
    max-width: 1920px;
}

.logoAndImpAndPP {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    img {
        height: 74px;
        width: auto;
        transform: translatex(-10px);

        &:hover {
            cursor: pointer;
        }
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        a {
            color: white;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            transition: border-color 0.100s ease-out;

            &:hover {
                border-bottom: 2px solid var(--lightBlue);
            }
        }
    }
}

.imprintMobile {
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: none;

    a {
        color: white;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: border-color 0.100s ease-out;

        &:hover {
            border-bottom: 2px solid var(--lightBlue);
        }
    }
}

span {
    color: white;
    font-size: 23px;
    line-height: 28px;
}

.socialMediaLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 174px;
    gap: 42px;

    img {
        height: 30px;
        width: 30px;
        transition: 0.1s;

        &:hover {
            cursor: pointer;
            transform: scale(1.33);
            transition: 0.1s;
        }
    }
}

@media screen and (max-width: 940px) {
    footer {
        padding: 25px 22px 25px 22px;
    }
}

@media screen and (max-width: 840px) {
    footer {
        flex-direction: column;
        height: 320px;
        justify-content: center;
    }

    .logoAndImpAndPP {
        margin-bottom: 48px;

        img {
            transform: translatex(0px);
        }

        div {
            display: none;
        }
    }

    span {
        margin-bottom: 24px;
    }

    .imprintMobile {
        display: flex;
        margin-top: 24px;
        z-index: 9;
    }
}