<footer>

    <div class="logoAndImpAndPP">
        <img (click)="navigateStart()" src="./../../../../assets/img/logo.png">
        <div>
            <a routerLink="imprint">Imprint</a>
            <a routerLink="privacy-policy">Privacy Policy</a>
        </div>
    </div>

    <span>
        © Vitali Rudi 2024
    </span>

    <div class="socialMediaLogos">
        <img src="./../../../../assets/img/icons/gitHub.svg" alt=""
            (click)="navigateToUrl('https://github.com/Vitali21MBC')">
        <a href="mailto:info@vitali-rudi-dev.de"><img src="./../../../../assets/img/icons/mail.svg" alt=""></a>
        <img src="./../../../../assets/img/icons/linkedIn.svg" alt=""
            (click)="navigateToUrl('https://www.linkedin.com/in/vitali-rudi-a6854a316/')">
    </div>

</footer>