footer {
    height: 291px;
    background-color: var(--darkBlueBG);
    border-top: 4px solid var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 100px 25px 100px;
    font-family: 'Poppins';
    width: 100%;
    max-width: 1920px;
}

.logo-imprint-privacy-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    img {
        height: 74px;
        width: auto;
        transform: translatex(-10px);

        &:hover {
            cursor: pointer;
        }
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        a {
            color: white;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -4px;
                width: 0;
                height: 3px;
                background-color: var(--lightBlue);
                transition: width 0.25s ease;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}

.imprint-mobile {
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: none;

    a {
        color: white;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 3px;
            background-color: var(--lightBlue);
            transition: width 0.25s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

span {
    color: white;
    font-size: 23px;
    line-height: 28px;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 174px;
    gap: 42px;

    img {
        height: 30px;
        width: 30px;
        transition: 0.1s;

        &:hover {
            cursor: pointer;
            transform: scale(1.33);
            transition: 0.1s;
        }
    }
}

@media screen and (max-width: 940px) {
    footer {
        padding: 25px 22px 25px 22px;
    }
}

@media screen and (max-width: 840px) {
    footer {
        flex-direction: column;
        height: 320px;
        justify-content: center;
    }

    .logo-imprint-privacy-container {
        margin-bottom: 48px;

        img {
            transform: translatex(0px);
        }

        div {
            display: none;
        }
    }

    span {
        margin-bottom: 24px;
    }

    .imprint-mobile {
        display: flex;
        margin-top: 24px;
        z-index: 9;
    }
}