<div class="contactContainer">
  <div class="contactText" data-aos="fade-right">
    <div class="contactHeader">
      <div class="seperator"></div>
      <h1>{{"contact" | translate}}</h1>
      <div class="seperatorPlaceholder"></div>
    </div>
    <h2>{{"contact_subheadline" | translate}}</h2>
    <p>
      {{"contact_text1" | translate}}
      <br><br>
      {{"contact_text2" | translate}} <br><b>{{"contact_text3" | translate}}</b>
    </p>
  </div>
  <div class="contactBox" data-aos="fade-up">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="row g-3 needs-validation column"
      autocomplete="off" novalidate>
      <div class="col-md-4 form-group">
        <input #name="ngModel" [(ngModel)]="contactData.name" name="name" type="text" class="form-control" id="name"
          [placeholder]="'contact_name_input' | translate" required>
        <div *ngIf="!name.valid && name.touched" class="invalid-feedback show">
          {{"required_name_input" | translate}}
        </div>
      </div>
      <div class="col-md-4 form-group">
        <input #email="ngModel" [(ngModel)]="contactData.email" name="email" type="email" class="form-control"
          id="email" [placeholder]="'contact_email_input' | translate" required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
        <div *ngIf="!email.valid && email.touched" class="invalid-feedback show">
          {{"required_email_input" | translate}}
        </div>
      </div>
      <div class="col-md-4 form-group">
        <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" class="form-control" id="message"
          [placeholder]="'contact_message_input' | translate" rows="8" required></textarea>
        <div *ngIf="!message.valid && message.touched" class="invalid-feedback show">
          {{"required_message_input" | translate}}
        </div>
      </div>
      <div class="col-12 form-group">
        <div class="form-check">
          <input #agree="ngModel" [(ngModel)]="contactData.agree" name="agree" class="form-check-input" type="checkbox"
            id="invalidCheck" required (change)="agree.control.markAsTouched()">
          <label class="form-check-label" for="invalidCheck">
            {{"checkbox_text1" | translate}} <a routerLink="privacy-policy">{{"checkbox_text2" | translate}}</a>
            {{"checkbox_text3" | translate}}
          </label>
          <div *ngIf="!agree.valid && agree.touched" class="invalid-feedback show">
            {{"required_checkbox_input" | translate}}
          </div>
        </div>
      </div>
      <div class="contactBtnContainer">
        <button type="submit" class=" contactButton" [ngClass]="{'disabled-look': !contactForm.form.valid}">
          {{"message_button" | translate}}
        </button>
      </div>
    </form>
  </div>
  <div (click)="navigateStart()" class="goUpButton"></div>
  <img class="colorAccent" src="./../../../assets/img/contactShadow.png">
  <div class="popup" [ngClass]="{'show': showPopup, 'hide': !showPopup}">
    Thank you! <span>👍</span>
  </div>
</div>