.contactContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: white !important;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-bottom: 160px;
    min-height: 880px;
    overflow-y: hidden;
    width: 100%;
    max-width: 1920px;
}

.contactText {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.contactHeader {
    display: flex;
    align-items: center;
    gap: 42px;
    transform: translatex(-100px);
}

.form-group {
    position: relative;
}

.invalid-feedback {
    position: absolute;
    top: 98%;
    left: 10px;
    font-size: 14px;
    display: none;
}

.invalid-feedback.show {
    display: block;
}


.seperator {
    height: 4px;
    min-width: 58px;
    background-color: var(--purple);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

}



h1 {
    font-size: 90px !important;
    line-height: 108px !important;
    font-weight: 700 !important;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

h2 {
    font-size: 32px !important;
    line-height: 38px !important;
    font-weight: 700 !important;
    margin-block-start: 0.2em !important;
    margin-block-end: 1.2em !important;
    margin-top: 60px !important;
}

// Den p habe ich auch schon in der ATF Section. Eventuell auslagern auf höhere Ebene und wiederverwenden.
p {
    font-size: 16px !important;
    line-height: 19px !important;
}

.contactBox {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.column {
    flex-direction: column;
    align-items: flex-end;
    max-width: 617px;
    gap: 10px;
}

a {
    color: var(--purple) !important;
    text-decoration: none !important;

    &:hover {
        cursor: pointer;
        text-decoration: underline !important;
    }

}

.colorAccent {
    position: absolute;
    bottom: -300px;
    left: 0px;
}

.contactBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    font-size: 23px;
    line-height: 28px;
    margin-top: 20px;
    transition: 0.100s ease-out;
    color: white;

    &:disabled {
        background-color: grey;
    }

    &:enabled {
        background-color: var(--green);
    }

    &:enabled:hover {
        cursor: pointer;
        background-color: var(--purple);
        transform: scale(1.1);
    }
}

.contactButton.disabled-look {
    background-color: grey;
}

.contactButton.disabled-look:hover {
    background-color: grey;
    transform: scale(1);
    cursor: default;
}

.goUpButton {
    height: 39px;
    width: 39px;
    position: absolute;
    right: 100px;
    bottom: 60px;
    background: url(./../../../assets/img/icons/goUpButton.svg);
    transition: 0.100s ease-out;

    &:hover {
        background: url(./../../../assets/img/icons/goUpButtonHover.svg);
        cursor: pointer;
        transform: scale(1.1);
    }
}

.popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--purple);
    color: white;
    padding: 15px 30px 15px 30px;
    border: 2px solid var(--green);
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
    font-size: 32px;
    font-weight: 700;
    gap: 16px;

    span {
        transform: translatey(-6px);
    }
}

.popup.show {
    bottom: calc(100vh - 50%);
    opacity: 1;
}

.popup.hide {
    bottom: -50px;
    opacity: 0;
}

@import "bootstrap/scss/bootstrap";

.form-control {
    border: 1px solid var(--purple);
    background-color: transparent;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    color: white;
}

.form-control:focus {
    border-color: var(--green);
    background-color: transparent;
    color: white;
    box-shadow: none;
}

.form-control:hover {
    border-color: var(--green);
    cursor: pointer
}

.form-control::placeholder {
    color: white;
}

.form-control:focus::placeholder {
    color: transparent;
    outline: none;
}

.form-check-input {
    background-color: var(--darkBlueBG);
    border-color: var(--green);
    border-radius: 0px !important;
    height: 18px;
    width: 18px;
    margin-right: 4px;

    &:hover {
        cursor: pointer;
    }
}

.form-check-input:checked {
    background-color: var(--darkBlueBG);
    border-color: var(--green);
    box-shadow: none;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-check-label {
    margin-left: 8px;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 1330px) {
    .contactContainer {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        overflow-x: hidden;
        min-height: 940px;
    }

    .contactText {
        align-items: center;
        text-align: center;
        max-width: 588px;
    }

    p {
        padding-left: 25px;
        padding-right: 25px;
    }

    .seperator {
        flex: 1;
    }

    .seperatorPlaceholder {
        flex: 1;
    }

    .contactHeader {
        transform: translatex(0px);
        width: 100vw;
    }

    h2 {
        margin-top: 20px !important;
        padding-left: 25px;
        padding-right: 25px;
    }

    .colorAccent {
        left: -220px;
    }

    .contactBox {
        z-index: 2;
    }
}

@media screen and (max-width: 940px) {
    .goUpButton {

        right: 25px;
        z-index: 3;
    }
}

@media screen and (max-width: 800px) {
    .contactContainer {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 560px) {
    h1 {
        font-size: 45px !important;
        line-height: 54px !important;
    }

    .contactHeader {
        gap: 5px;
    }

    .contactText[_ngcontent-ng-c1811330297] {
        align-items: left;
        text-align: left;
    }

    .seperator {
        flex: none;
        min-width: 20px;
    }

    h2 {
        width: 100%;
        margin-block-end: 0.8em !important;
    }
}