/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v21-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/poppins-v21-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    scroll-padding-top: 96px;
    /* Höhe des Headers */
}

body {
    margin: 0;
}

:root {
    --green: #70E61C;
    --lightBlue: #1CDAE6;
    --purple: #9747FF;
    --darkBlueBG: #141D2F;
    --darkBlueTrans: #141D2F;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--darkBlueBG);
}

::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--purple);
    cursor:pointer;
}